<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="clinica">

<head>
<title>Servicos da UEM</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div class="row">
			<!-- left column -->

			<div class="col-md-12 ">
				<!-- general form elements -->
				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">Configuração: Registo de Serviços da
							UEM</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->

					<div class="box-body ">

						<form action="#" th:object="${servicoDaUnidade}"
							th:action="@{/parametro/servico-uem/add}" method="post">
							<div class="row">

								<div class="col-lg-6">
									<div class="alert alert-success alert-dismissable"
										th:if="${messageVisible}">
										<i class="fa fa-check"></i>
										<button type="button" class="close" data-dismiss="alert"
											aria-hidden="true">&times;</button>
										<b>Parametrização de Serviço: </b>
										<p>Tipo de Serviço registado com sucesso!</p>
									</div>


									<div class="form-group">


										<label for="servicoTipo"> Designação do Serviço</label> <select
											th:field="*{servicoTipo}" class="form-control input-sm">
											<option th:each="servicoTipo : ${servicoTipo}"
												th:value="${servicoTipo}" th:text="${servicoTipo}" />
										</select>
									</div>

									<div class="form-group ">
										<label for="rubricaDaUnidade"> Rubrica da Unidade</label> <select
											th:field="*{rubricaDaUnidade}" class="form-control input-sm">
											<option th:each="rubricaDaUnidade : ${rubricaDaUnidade}"
												th:value="${rubricaDaUnidade}" th:text="${rubricaDaUnidade}" />
										</select>

									</div>

									<div class="form-group">

										<label for="designacao"></label> código da Rúbrica<label
											class="text-danger" th:if="${#fields.hasErrors('codigo')}">
											<i class="fa fa-times-circle-o"></i> <span
											th:errors="*{codigo}"></span>
										</label> <input type="text" class="form-control input-sm"
											th:field="*{codigo}">
									</div>
								</div>



								<!-- /.box-body -->

								<div class="col-lg-12">
									<button type="submit" class="btn btn-primary">
										<i class="fa fa-save inverse" style="margin: 2px"></i>Registar
									</button>
								</div>
							</div>
						</form>

						<div class="box-body table-responsive no-padding"
							style="margin-top: 40px">
							<table class="table table-hover table-striped data-table">
								<thead>
									<tr>
										<th>Designação</th>
										<th>código da Rúbrica</th>
										<th>Designação da Rúbrica</th>
										<th>Editar</th>
										<th>Detalhes</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="servico :${tipoServicos}">


										<td th:text="${servico.servicoTipo}"></td>
										<td th:text="${servico.codigo}"></td>

										<td th:text="${servico.rubricaDaUnidade}"></td>


										<td><a class="delete btn btn-xs btn-default"
											th:href="@{/parametro/servico/{id}/update(id=${servico.id})}"><i
												class="fa fa-edit" style="margin: 2px"></i>Editar</a></td>
										<td><a class="delete btn btn-xs btn-default"
											th:href="@{/parametro/servico/{id}/(id=${servico.id})}"><i
												class=" fa fa-eye" style="margin: 2px"></i>Detalhes</a></td>
									</tr>
								</tbody>

							</table>
						</div>
					</div>

					<div class="box-footer">



						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<tr>
									<th><a class="" th:href="@{/parametro/servico-uem/add}">Registar
											Novo</a></th>


									<th><a class=""
										th:href="@{/parametro/servico-uem/servicos}">Lista Todos</a></th>

								</tr>


							</table>


						</div>
					</div>


				</div>
				<!-- /.box -->
			</div>



		</div>
	</div>
</body>
</html>