<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="clinica">

<head>
<title>Servicos</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div class="row">
			<!-- left column -->




			<div class="col-md-12 " th:fragment="lista-servicos">
				<!-- general form elements -->
				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">Servicos : Lista de Servicos da UEM</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->

					<div class="box-body ">




						<div class="box-body table-responsive no-padding">
							<table class="table table-hover table-striped data-table">
								<thead>
									<tr>
										<th>Designação</th>
										<th>código da Rúbrica</th>
										<th>Designação da Rúbrica</th>
										<th>Editar</th>
										<th>Detalhes</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="servico :${servicosDaUnidade}">


										<td th:text="${servico.servicoTipo}"></td>
										<td th:text="${servico.codigo}"></td>

										<td th:text="${servico.rubricaDaUnidade}"></td>


										<td><a class="delete btn btn-xs btn-default"
											th:href="@{/parametro/servico-uem/{id}/update(id=${servico.id})}"><i
												class="fa fa-edit" style="margin: 2px"></i>Editar</a></td>
										<td><a class="delete btn btn-xs btn-default"
											th:href="@{/parametro/servico-uem/{id}/(id=${servico.id})}"><i
												class=" fa fa-eye" style="margin: 2px"></i>Detalhes</a></td>
									</tr>
								</tbody>

							</table>
						</div>
					</div>
					<!-- /.box-body -->
	<div class="box-footer">
								


						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<tr>
									<th><a class="" th:href="@{/parametro/servico-uem/add}">Registar Novo</a></th>

								
									<th><a class="" th:href="@{/parametro/servico-uem/servicos}">Lista Todos</a></th>

								</tr>


							</table>
						

					</div>
					</div>
				
				</div>
			</div>


		</div>
	</div>
</body>
</html>