<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="clinica">

<head>
<title>Servicos</title>
</head>

<body>

	<div layout:fragment="conteudo">
		<div class="row">
			<!-- left column -->




			<div class="col-md-12 " th:fragment="lista-servicos">
				<!-- general form elements -->
				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">Consultas Registadas</h3>
					</div>
					<!-- /.box-header -->
					<!-- form start -->

					<div class="box-body ">


						<div class="row invoice-info" style="margin-bottom: 10px">
							<div class="col-sm-4 invoice-col">
								<table>
									<thead>
										<tr>
											<th width="50%"></th>
											<th></th>
										</tr>

									</thead>
									<tr>
										<td><b>Nome completo:</b></td>
										<td><i th:text="${paciente.nome}"
											style="margin-right: 5px"></i><i
											th:text="${paciente.apelido}"></i></td>
									</tr>
									<tr>
										<td><b>Naturalidade:</b></td>
										<td><i th:text="${paciente.naturalidade}"></i></td>
									</tr>
									<tr>
										<td><b>Genero:</b></td>
										<td><i th:text="${paciente.genero}"></i></td>
									</tr>
									<tr>
										<td><b>Estado Civil:</b></td>
										<td><i th:text="${paciente.estadoCivil}"></i></td>
									</tr>
									<tr>
										<td><b>Profissao:</b></td>
										<td><i th:text="${paciente.profissao}"></i></td>
									</tr>

									<tr>
										<td><b>Local de Trabalho:</b></td>
										<td><i th:text="${paciente.localDeTrabalho}"></i></td>
								</table>

							</div>

							<div class="col-sm-4 invoice-col">
								<table>
									<thead>
										<tr>
											<th width="50%"></th>
											<th></th>
										</tr>

									</thead>
									<tr>
										<td><b>Filho de:</b></td>
										<td><i th:text="${paciente.nomeDoPai}"
											style="margin-right: 5px"></i><i>e </i></td>
									</tr>
									<tr>
										<td><b></b></td>
										<td><i th:text="${paciente.nomeDaMae}"></i></td>
									</tr>
									<tr>
									<tr>
										<td><b>Local de Trabalho:</b></td>
										<td><i th:text="${paciente.localDeTrabalho}"></i></td>
									</tr>

									<tr>
										<td><b>Raca:</b></td>
										<td><i th:text="${paciente.raca}"></i></td>
									</tr>


								</table>

							</div>


							<div class="col-sm-4 invoice-col">
								<table>
									<thead>
										<tr>
											<th width="50%"></th>
											<th></th>
										</tr>

									</thead>
									<tr>
										<td><b>Endereco:</b></td>
										<td><i th:text="${paciente.endereco}"
											style="margin-right: 5px"></i></td>
									</tr>
									<tr>
										<td><b>Email</b></td>
										<td><i th:text="${paciente.email}"></i></td>
									</tr>
									<tr>
										<td><b>Telefone Princial:</b></td>
										<td><i th:text="${paciente.telefonePrincipal}"></i></td>
									</tr>
									<tr>
										<td><b>Telefone Alternativo:</b></td>
										<td><i th:text="${paciente.telefoneAlternativo}"></i></td>
									</tr>
									<tr>
										<td><b><i th:text="${paciente.tipoDocumento}"></i>:</b></td>
										<td><i th:text="${paciente.numeroDocumento}"></i></td>
									</tr>





								</table>

							</div>
						</div>





						<div class="box-body table-responsive no-padding">
							<table class="table table-hover table-striped data-table" style="margin-top: 20px" >
							<thead>
								<tr>
									<th>Tipo de Consulta</th>
									<th>Causa de Admissao</th>
									<th>Data</th>
									<th>Hora</th>
									<th>Medico</th>
									<th>Preco</th>
									<th>Estado</th>
									<th>Editar</th>

									<th>Cancelar</th>



								</tr>
								</thead>
								<tbody>
								<tr th:each="consulta :${consultas}">
									<td th:text="${consulta.tipoConsulta}"></td>
									<td th:text="${consulta.causaAdmissao}"></td>

									<td th:text="${consulta.dataDaConsulta}"></td>
									<td th:text="${consulta.horaDaConsulta}"></td>
									<td th:text="${consulta.medico}"></td>
									<td th:text="${consulta.preco}"></td>
									<td th:text="${consulta.estado}"></td>




									<td><a class="delete btn btn-xs btn-default"
										th:href="@{/consulta/{id}/update(id=${consulta.id})}"><i
											class="fa fa-edit" style="margin: 2px"></i>Editar</a></td>
									<td><a class="delete btn btn-xs btn-default"
										th:href="@{/paciente/{id}/(id=${paciente.id})}"><i
											class=" fa fa-eye" style="margin: 2px"></i>Cancelar</a></td>

								</tr>
</tbody>
							</table>
						</div>
					</div>
					<!-- /.box-body -->

					<div class="box-footer">


						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<tr>
									<th><a class="" th:href="@{/paciente/}">Registar Novo
									</a></th>
									
									

								</tr>


							</table>
						</div>

					</div>

				</div>
			</div>


		</div>
	</div>

</body>
</html>